@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');
* {
    box-sizing: border-box;
}
body {
    background-color: rgb(236, 242, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-family: "Hanken Grotesk", sans-serif;
}
.App {
    display: flex;
    background-color: white;
    border-radius: 20px;
    box-shadow: 10px 10px 30px rgba(0, 38, 174, 0.2);
    height: 400px;
    width: 600px;
}
.AppLeft {
    background-image: linear-gradient(to top, rgb(53, 44, 240),rgb(104, 68, 255));
    border-radius: 20px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}
.leftTitre {
    color: rgba(255,255,255,0.5);
    font-weight: bold;
    font-size: 22px;
}
.bulle {
    background-image: linear-gradient(rgba(0,0,0,0.25), transparent);
    height: 160px;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 50%;
}
.resultat {
    color: white;
    font-size: 50px;
    font-weight: bold;
}
.sur100 {
    color: rgba(255,255,255,0.5);
}
.leftSousTitre {
    color: white;
    font-size: 26px;
    font-weight: 500;
}
.leftDescription {
    color: rgba(255,255,255,0.5);
    text-align: center;
}
.AppRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    width: 50%;
}
.rightTitre {
    color: rgb(48, 59, 89);
    font-size: 20px;
    font-weight: bold;
    width: 100%;
}
.summary {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.summaryElement {
    height: 50px;
    background-color: rgba(0,0,0,0.25);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.summaryElement:first-of-type{
    background-color: rgb(255, 246, 247);
    color: hsl(0, 100%, 67%);
}
.summaryElement:nth-of-type(2){
    background-color: rgb(255, 250, 244);
    color: hsl(39, 100%, 56%);
}
.summaryElement:nth-of-type(3){
    background-color: rgb(242, 253, 249);
    color: hsl(166, 100%, 37%);
}
.summaryElement:last-of-type{
    background-color: rgb(244, 244, 254);
    color: hsl(234, 85%, 45%);
}
.innerElement {
    display: flex;
    align-items: center;
    font-weight: 500;
    gap: 10px;
}
.chiffres {
    color: rgba(48, 59, 89,0.5);
    font-weight: 700;
}
.chiffres b {
    color: rgb(48, 59, 89);
    font-weight: 700;
}
.boxBtn {
    width: 100%;
}
#btnContinue {
    background-color: rgb(48, 59, 89);
    color: rgba(255,255,255,0.9);
    width: 100%;
    height: 50px;
    border-radius: 25px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
}
#btnContinue:hover {
    background-image: linear-gradient(to top, rgb(53, 44, 240),rgb(104, 68, 255));
}

@media (max-width:600px) {
    .App {
        flex-direction: column;
        height: 100vh;
        width: 100vw;
        box-shadow: none;
        border-radius: 0px 0px 0px 0px;
    }
    .AppLeft {
        width: 100%;
        border-radius: 0px 0px 20px 20px;
    }
    .AppRight {
        width: 100%;
    }
}